.adsBannerSlider {
  width: 100%;
  position: relative;
}

.ads-swiper {
  overflow: hidden;
}
/* NAVIGATION */
.adsBannerSlider .swiper-button-next,
.adsBannerSlider .swiper-button-prev {
  width: 54px !important;
  height: 54px !important;
  border-radius: 50%;
  background: rgba(15, 23, 42, 0.78);
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
  z-index: 20;
}

.adsBannerSlider .swiper-button-next:hover,
.adsBannerSlider .swiper-button-prev:hover {
  background: #2563eb;
  transform: scale(1.08);
}

.adsBannerSlider .swiper-button-next::after,
.adsBannerSlider .swiper-button-prev::after {
  font-size: 18px !important;
  color: white;
  font-weight: 800;
}
/* POSITION */
.adsBannerSlider .swiper-button-prev {
  left: 18px !important;
}
.adsBannerSlider .swiper-button-next {
  right: 18px !important;
}
/* MOBILE */
@media (max-width: 768px) {
  .adsBannerSlider .swiper-button-next,
  .adsBannerSlider .swiper-button-prev {
    display: none !important;
  }
}
