@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====================== */
/* ROOT VARIABLES */
/* ====================== */

:root {
  --bg: #031022;
  --bg-soft: #0b1739;
  --text: #e5e7eb;
  --text-muted: rgba(255, 255, 255, 0.65);
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --border: rgba(255, 255, 255, 0.08);
  --card: rgba(11, 23, 57, 0.95);
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  --radius: 20px;
}

/* ====================== */
/* RESET */
/* ====================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* ====================== */
/* GLOBAL */
/* ====================== */

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

/* ====================== */
/* CONTAINER */
/* ====================== */

.container {
  max-width: 1400px !important;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* ====================== */
/* SCROLLBAR */
/* ====================== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #071428;
}

::-webkit-scrollbar-thumb {
  background: #1d4ed8;

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
